.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  
  min-height: 100vh;
  margin-top: 5em;
}

input {
  margin: 1em;
}

ul {
  min-width: 20em;
  list-style-type: none;
  margin: 0;
  padding: 0;
}